@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 13%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 13%;
    --primary: 219 51% 18%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 9% 94%;
    --secondary-foreground: 219 51% 18%;
    --muted: 220 9% 94%;
    --muted-foreground: 220 9% 40%;
    --accent: 220 9% 94%;
    --accent-foreground: 219 51% 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 219 51% 18%;
    --chart-1: 219 51% 18%;
    --chart-2: 220 9% 46%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
